<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Taogoat.js</title>
      <link href="/modules/core/client/css/core.css" rel="stylesheet" type="text/css">
  </head>
  <body>
   <div id="grad1">
    <header>
     <h3>
        Taogoat Trailmap to Free Code Camp
     </h3>
    </header>
      <div class="container">
         <img src="/modules/core/client/img/goat-icon.png" />
      </div>
      <br />
      <div class="card">
         <h2 class="clementine-text">Hack along with Taogoat</h2>
         <p class="clementine-text">through</p>
         <h4 class="clementine-text">Free Code Camp</h4>
      </div>
      <br>
      <br>
    <footer>
      Donate to the Goat!
    </footer>
    </div>
   </body>

</html>
